<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--<suite name="FirstLogInTest" verbose="1" >

    <test name="LoginTest-FF" >
        <parameter name="browser"  value="firefox"/>

        <classes>
            <class name="com.express.LoginTest">
                <methods>
                    <include name="positiveLogInTest"></include>
                    <include name="negativeLogInTest"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="LoginTest-CH" >
        <parameter name="browser"  value="chrome"/>

        <classes>
            <class name="com.express.LoginTest">
                <methods>
                    <include name="positiveLogInTest"></include>
                    <include name="negativeLogInTest"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="LoginTest-ED" >
        <parameter name="browser"  value="edge"/>

        <classes>
            <class name="com.express.LoginTest">
                <methods>
                    <include name="positiveLogInTest"></include>
                    &lt;!&ndash;<include name="negativeLogInTest"></include>&ndash;&gt;
                </methods>
            </class>
        </classes>
    </test>



</suite>-->

<!--<suite name="FirstLogInTest" parallel="tests" thread-count="3" >
    <listeners>
        <listener class-name="com.express.base.TestListener"></listener>
    </listeners>
<test name="LoginTest-FF" >
    <parameter name="browser"  value="firefox"/>
    <groups>
        <run>
            <exclude name="broken"></exclude>
        </run>
    </groups>
    <classes>
        <class name="com.express.LoginTest">
            <methods>
                <exclude name="positiveLogInTest"></exclude>
                <exclude name="negativeLogInTest"></exclude>
            </methods>
        </class>
    </classes>
</test>

<test name="LoginTest-CH" >
    <parameter name="browser"  value="chrome"/>
    <groups>
        <run>
            <exclude name="negative"></exclude>
            <exclude name="broken"></exclude>
        </run>
    </groups>
    <classes>
        <class name="com.express.LoginTest">

            <methods>
                <exclude name="positiveLogInTest"></exclude>
                <exclude name="negativeLogInTest"></exclude>
            </methods>
        </class>
    </classes>
</test>

<test name="LoginTest-ED" >
    <parameter name="browser"  value="edge"/>
    &lt;!&ndash;<groups>
        <run>

            <exclude name="broken"></exclude>
        </run>
    </groups>&ndash;&gt;
    <classes>
        <class name="com.express.LoginTest">
            <methods>
                <exclude name="positiveLogInTest"></exclude>
                <exclude name="negativeLogInTest"></exclude>
            </methods>
        </class>
    </classes>
</test>



</suite>-->

<suite name="FirstSignUpTest" parallel="tests" thread-count="3">
<listeners>
    <listener class-name="com.express.base.TestListener"></listener>
</listeners>
<test name="SignUpTest-FF">
    <parameter name="browser" value="firefox"/>
    <!--<groups>
        <run>
            <include name="broken"></include>
        </run>
    </groups>-->
    <classes>
        <class name="com.express.SignUpTest">
            <methods>
               <!-- <include name="positiveSignUp"></include>-->
                <include name="correctSignUpTitle"></include>
                <include name="negativeSignUp"></include>
            </methods>
        </class>
    </classes>
</test>

<test name="SignUpTest-CH">
    <parameter name="browser" value="chrome"/>
    <groups>
        <run>
           <!-- <exclude name="negative"></exclude>
            <exclude name="broken"></exclude>-->
        </run>
    </groups>
    <classes>
        <class name="com.express.SignUpTest">

            <methods>
                <include name="correctSignUpTitle"></include>
                <include name="negativeSignUp"></include>
            </methods>
        </class>
    </classes>
</test>

<test name="SignUpTest-ED">
    <parameter name="browser" value="edge"/>
    <!--<groups>
        <run>

            <exclude name="broken"></exclude>
        </run>
    </groups>-->
    <classes>
        <class name="com.express.SignUpTest">
            <methods>
                <include name="correctSignUpTitle"></include>
                <include name="negativeSignUp"></include>
            </methods>
        </class>
    </classes>
</test>
    <test name="SignUpTest-HT">
        <parameter name="browser" value="html"/>
        <!--<groups>
            <run>

                <exclude name="broken"></exclude>
            </run>
        </groups>-->
        <classes>
            <class name="com.express.SignUpTest">
                <methods>
                    <include name="correctSignUpTitle"></include>
                    <include name="negativeSignUp"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>


